.App {
  height:100%;
  width: 100%; 
  overflow-x: hidden;
}

.image_container{
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
}
.main_image {
  width: 100%;
  height: auto;
  max-width: 100%; 
  object-fit: fill;
  position: relative;
}
.image_container_txt_box{
  height: 32px;
  width: auto;
  padding: 2px 54px;
  border-radius: 30px;
  background: transparent;
  opacity: 0.8;
  padding-bottom: 7px;
  box-shadow: rgba(60, 64, 67, 0.35) 0px 1px 2px 0px, rgba(60, 64, 67, 0.25) 0px 1px 3px 2px;
}
.centered {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 600;
}
@media (max-width: 1200px) {
  .main_image{
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: fill;

    position: relative;
  }
}
@media (max-width: 768px) {
  .main_image{
    width: 150%;
    height: auto;
    max-width: 150%;
    object-fit: fill;
    position: relative;
  }
}

@media (max-width: 500px) {

  .main_image{
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: fill;
    position: relative;
  }
}