.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    background-color: #000000;
    padding: 0 100px;
    box-sizing: border-box;
    overflow-x: hidden;    
}

.image_container {
  display: flex;
  align-items: center;
  margin-left: 120px;  
}
.image_logo {
  height: auto;
  width: 180px;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
  
  .navbar_item {
    display: flex;
    align-items: center;
    margin-right: 200px;
  }
  
  .navbar_list {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar_list li {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    padding: 20px 10px;
    box-shadow: none;
    text-decoration: none;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar_list_home:hover{
    color: #D1C292;
    fill: #D1C292;
  }
  .navbar_list_contact:hover{
    color: #D1C292;
    fill: #D1C292;
  }
  
  
  /* Responsive Design */
  @media (max-width: 1200px) {
    .navbar_container {
      padding: 0;
    }

    .image_container{
        margin-left: 100px;
    }

    .navbar_item {
        margin-top: 10px;
        margin-right: 80px;
    }

    .navbar_list {
        /* gap: 15px; */
      }

  }
  
  @media (max-width: 768px) {
    .navbar_container {
      align-items: center;
      padding: 10px 0;
      height: auto;
    }

    .image_container{
        margin-left: 50px;
    }
  
    .navbar_item {
      margin-top: 10px;
      margin-right: 50px;
    }

    .navbar_list {
        gap: 7px;
      }
  
  }
  
  @media (max-width: 500px) {
    .navbar_container {
      padding: 10px;
    }

    .image_container{
        margin-left: 20px;
    }
  
    .navbar_item{
        margin-right: 12px;
    }
    .navbar_list {
      gap: 12px;
    }
  
    .navbar_list li {
      font-size: 12px;
    }
  }
  