.navbar_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    width: 100%;
    background-color: #000000;
    padding: 0 100px;
    box-sizing: border-box;
    overflow-x: hidden;    
    margin-bottom: 0;
}

.image_container {
  display: flex;
  align-items: center;
  margin-left: 0;  
}
.main_image{
  width: 100%;
  margin-left: 0;
}
.image_logo {
  height: auto;
  width: 180px;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
  
  .navbar_item {
    display: flex;
    align-items: center;
    margin-right: 24px;
  }
  
  .navbar_list {
    display: flex;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar_list li {
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    padding: 20px 10px;
    text-decoration: none;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
  }
  .navbar_list_home:hover{
    color: #D1C292;
    fill: #D1C292;
  }
  .navbar_list_contact{
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  }
  .navbar_list_contact:hover{
    color: #D1C292;
    fill: #D1C292;
  }

  .navbar_list_enquire_btn{
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    box-shadow: none;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    fill: #000000;
    color: #FFFFFF;
    background-color: #000000;
    border-radius: 14px;
    box-sizing: border-box;
    margin-top: -8px;
    padding: 5px 5px;
    width: 160px;
    border-style: inset;
  }

  .navbar_list_enquire_btn:hover{
    color: #000000;
    background-color: #D1C292;
  }
    
  /* Responsive Design */
  @media (max-width: 1200px) {
    .navbar_container {
      padding: 0;
    }

    .image_container{
        margin-left: 0;
    }

    .navbar_item {
        margin-top: 10px;
        margin-right: 80px;
    }

    .navbar_list {
        /* gap: 15px; */
      }

  }
  
  @media (max-width: 768px) {
    .navbar_container {
      align-items: center;
      padding: 10px 0;
      height: auto;
    }

    .image_container{
        margin-left: 0;
    }
  
    .navbar_item {
      margin-top: 10px;
      margin-right: 25px;
    }

    .navbar_list {
        gap: 4px;
    }

    .navbar_list_enquire_btn{
      width: 100px;
      font-size: 12px;
      padding: 2px;
      letter-spacing: 1px;
      margin-left: -5px;
    }
  }
  
  @media (max-width: 500px) {
    .navbar_container {
      padding: 10px;
      margin-bottom: 14px;
    }

    .image_container{
        margin-left: 0;
        margin-right: 14px;
        margin-top: 0;
    }
  
    .navbar_item{
        margin-right: 2px;
    }
    .navbar_list {
      gap: 1px;
    }
  
    .navbar_list li {
      font-size: 12px;
    }
  }
  @media (max-width: 400px) {
    .navbar_container {
      padding: 5px;
      margin-bottom: 14px;
    }

    .image_container{
        margin-left: 0;
        margin-right: 14px;
    }
  
    .navbar_item{
        margin-right: -12px;
    }
    .navbar_list {
      gap: 1px;
    }
  
    .navbar_list li {
      font-size: 8px;
      letter-spacing: 0;
      font-weight: 400;
      padding: 6px;
    }
    .navbar_list_enquire_btn{
      font-size: 8px;
      border-radius: 8px;
      font-weight: 400;
    }
  }


.glitch_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.glitch {
  position: relative;
  line-height: 1.2;
  animation: shift 4s ease-in-out infinite alternate;
  z-index: 1;
}

.glitch:before {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: -2px;
  text-shadow: -1px 0 #00ffff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-before 3s infinite linear alternate-reverse;
}

.glitch:after {
  content: attr(data-glitch);
  position: absolute;
  top: 0;
  left: 2px;
  text-shadow: 1px 0 #ff00ff;
  color: #fff;
  overflow: hidden;
  clip: rect(0, 900px, 0, 0);
  animation: noise-after 2s infinite linear alternate-reverse;
}

@keyframes noise-before {
  0% {
     clip: rect(61px, 9999px, 52px, 0);
  }

  5% {
     clip: rect(33px, 9999px, 144px, 0);
  }

  10% {
     clip: rect(121px, 9999px, 115px, 0);
  }

  15% {
     clip: rect(144px, 9999px, 162px, 0);
  }

  20% {
     clip: rect(62px, 9999px, 180px, 0);
  }

  25% {
     clip: rect(34px, 9999px, 42px, 0);
  }

  30% {
     clip: rect(147px, 9999px, 179px, 0);
  }

  35% {
     clip: rect(99px, 9999px, 63px, 0);
  }

  40% {
     clip: rect(188px, 9999px, 122px, 0);
  }

  45% {
     clip: rect(154px, 9999px, 14px, 0);
  }

  50% {
     clip: rect(63px, 9999px, 37px, 0);
  }

  55% {
     clip: rect(161px, 9999px, 147px, 0);
  }

  60% {
     clip: rect(109px, 9999px, 175px, 0);
  }

  65% {
     clip: rect(157px, 9999px, 88px, 0);
  }

  70% {
     clip: rect(173px, 9999px, 131px, 0);
  }

  75% {
     clip: rect(62px, 9999px, 70px, 0);
  }

  80% {
     clip: rect(24px, 9999px, 153px, 0);
  }

  85% {
     clip: rect(138px, 9999px, 40px, 0);
  }

  90% {
     clip: rect(79px, 9999px, 136px, 0);
  }

  95% {
     clip: rect(25px, 9999px, 34px, 0);
  }

  100% {
     clip: rect(173px, 9999px, 166px, 0);
  }
}

@keyframes noise-after {
  0% {
     clip: rect(26px, 9999px, 33px, 0);
  }

  5% {
     clip: rect(140px, 9999px, 198px, 0);
  }

  10% {
     clip: rect(184px, 9999px, 89px, 0);
  }

  15% {
     clip: rect(121px, 9999px, 6px, 0);
  }

  20% {
     clip: rect(181px, 9999px, 99px, 0);
  }

  25% {
     clip: rect(154px, 9999px, 133px, 0);
  }

  30% {
     clip: rect(134px, 9999px, 169px, 0);
  }

  35% {
     clip: rect(26px, 9999px, 187px, 0);
  }

  40% {
     clip: rect(147px, 9999px, 137px, 0);
  }

  45% {
     clip: rect(31px, 9999px, 52px, 0);
  }

  50% {
     clip: rect(191px, 9999px, 109px, 0);
  }

  55% {
     clip: rect(74px, 9999px, 54px, 0);
  }

  60% {
     clip: rect(145px, 9999px, 75px, 0);
  }

  65% {
     clip: rect(153px, 9999px, 198px, 0);
  }

  70% {
     clip: rect(99px, 9999px, 136px, 0);
  }

  75% {
     clip: rect(118px, 9999px, 192px, 0);
  }

  80% {
     clip: rect(1px, 9999px, 83px, 0);
  }

  85% {
     clip: rect(145px, 9999px, 98px, 0);
  }

  90% {
     clip: rect(121px, 9999px, 154px, 0);
  }

  95% {
     clip: rect(156px, 9999px, 44px, 0);
  }

  100% {
     clip: rect(67px, 9999px, 122px, 0);
  }
}

@keyframes shift {
  0%, 40%, 44%, 58%, 61%, 65%, 69%, 73%, 100% {
     transform: skewX(0deg);
  }

  41% {
     transform: skewX(10deg);
  }

  42% {
     transform: skewX(-10deg);
  }

  59% {
     transform: skewX(40deg) skewY(10deg);
  }

  60% {
     transform: skewX(-40deg) skewY(-10deg);
  }

  63% {
     transform: skewX(10deg) skewY(-5deg);
  }

  70% {
     transform: skewX(-50deg) skewY(-20deg);
  }

  71% {
     transform: skewX(10deg) skewY(-10deg);
  }
}

